{% extends 'base3.html' %}

{% block title %}Acasa{% endblock %}

{% block content %}


<div class="intro">
<div class="container">

      {% if user.is_authenticated %}
          <h4 class="title">   Salutare, {{ user.username }}! </h4>
        <p class="card-text">Programeaza online intalnirile de joaca ale copilului!</p>
      <a class="nav-item nav-link" href="{% url 'create-event' %}"
            ><button>Creeaza intalnire de joaca!</button></a>

  </div>
</div>

    {% else %}
<div class="container">
    <h2>Programeaza online intalnirile de joaca ale copilului!</h2>

            <h3>Nu esti conectat..</h3>
             <a href={'login'} class="ml-2"></a>
            <a href="{% url 'login' %}">
            <button> Conecteaza-te</button></a>
        {% endif %}
</div>

</div>



{% endblock %}