{% extends 'base.html' %}

{% block title %}Acasa{% endblock %}

{% block content %}


<div class="intro">

        {% if user.is_authenticated %}
            <h1> Salutare, {{ user.username }}! </h1>
            <hr>
            <h3>Programeaza online intalnirile de joaca ale copilului</h3>
            <hr>
             <a class="nav-item nav-link" href="{% url 'create-event' %}"
            ><button>Creeaza intalnire de joaca!</button></a>

        {% else %}
            <h3>Programeaza online intalnirile de joaca ale copilului</h3>
            <hr>
            <p>Nu esti conectat..</p>
             <a href={'login'} class="ml-2"></a>
            <a href="{% url 'login' %}">
            <button> Conecteaza-te</button></a>
        {% endif %}
     <hr>
     <hr>
     <hr>
     <form class="form-inline my-4 my-lg-4 ml-4" action="{% url 'search-events' %}" method="get">
                {% csrf_token %}
         <input name="q" type="text" placeholder="Cauta evenimente.."/>
         <button class="btn btn-info my-2 my-sm-0 mr-2" type="submit">
                    Cauta..
                </button>
            </form>

</div>



{% endblock %}