{% extends "base3.html" %}
{% block title %}Contul meu{% endblock title %}
{% load static %}
<style>
     .media {
                width:60%;
                height:300px;
            }
            img {
                width:100%;
                height:100%;
                object-fit:cover;
            }
     .header-background {
            width= 100%;
            height= auto;
            background: url('https://www.freepik.com/free-photo/cute-little-child-summer-field-with-kite_5251348.html');
            }

</style>
{% block content %}
<header id="header-background">
<div class="logo"></div>
</header>
<div class="row my-3 p-3">
    <h1>Bine ai venit in contul tau, {{user.username}}</h1>
</div>

    <div class="media">
        <img class="rounded mr-2"  src="{{ user.profile.avatar.url }}" style="max-height:250px;width:250px;">
        <div class="media-body">
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p><br>
        </div>

        <div class="media-body">
            <p class="col text-center">{{ user.profile.bio }}</p>
        </div>
    </div>


    <hr>
    {% if request.user == u %}
    <span class="description">
    <a class="btn btn-info mr-4" href="{% url 'users_list' %}">Prieteni</a></span>
    {% endif %}
     {% if button_status == 'not_friend' %}
              <small><a class="btn btn-info mr-2" href="/posts/friend-request/send/{{ u.id }}">Adauga prieten</a></small>
     {% elif button_status == 'friend_request_sent' %}
              <small><a class="btn btn-warning" href="/posts/friend-request/cancel/{{ u.id }}">Anuleaza cererea</a></small>
     {% elif button_status == 'friend_request_received' %}
              <small><a class="btn btn-info mr-2" href="/posts/friend-request/accept/{{ u.id }}">Accepta cererea</a></small>
              <small><a class="btn btn-warning" href="/posts/friend-request/delete/{{ u.id }}">Respinge cererea</a></small>
    {% endif %}



{% endblock content%}



